.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 14px;
    -fx-pref-width: 180px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8 10 8 10;
    -fx-background-radius: 8;
}

.menu-button:hover {
    -fx-background-color: #0066cc;
    -fx-cursor: hand;
}

.menu-button-exit {
    -fx-background-color: #c0392b;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 180px;
    -fx-background-radius: 8;
    -fx-padding: 8 10 8 10;
}

.menu-button-exit:hover {
    -fx-background-color: #e74c3c;
}